window.config = {
    api: {
      uriBase: '${API_URI_BASE}',
    },
    auth0: {
      domain: '${AUTH0_DOMAIN}',
      clientID: '${AUTH0_CLIENT_ID}',
      redirectUriBase: '${AUTH0_REDIRECT_URI_BASE}',
      audience: '${AUTH0_AUDIENCE}',
      scope: '${AUTH0_SCOPE}'
    }
};